.exitButton {
  font-size: 4vh;
  height: 100%;
  width: 100%;
  border-radius: 5vh;
  background-color: rgb(129, 69, 129);
  color: wheat;
  position: absolute;
}
.wrappExit {
  justify-self: center;
  align-self: center;
  height: 6vh;
  width: 60%;
  position: relative;
}
.smth {
  font-size: 4vh;
}
